body {
  position: relative; /* Контейнер – родитель */
  height: 100vh; /* Высота по всей вьюпорте (опционально) */
}

.headContainer {
  background: #000000;
  height: 30vh;
  position: sticky;
  display: flex;
  flex-direction: column;
}

.headContainer > picture {
  width: 100px;
  height: 100px;

}

.inputContainer {
 position: absolute; /* Позиционирование относительно родителя */
  top: 50%; /* Вертикально по центру */
  left: 50%; /* Горизонтально по центру */
  transform: translate(-50%, -50%); /* Смещение для точного центрирования */
  z-index: 10; /* Чтобы был поверх блоков */
}

.mainContainer {
  background:#403d4e; 
  height: 70vh
}